/* CSS Document */

@font-face {
    font-family: 'klavika_bold_capsbold';
    src: url('../fonts/klavikaboldcaps-sc-webfont.eot');
    src: url('../fonts/klavikaboldcaps-sc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavikaboldcaps-sc-webfont.woff') format('woff'),
         url('../fonts/klavikaboldcaps-sc-webfont.ttf') format('truetype'),
         url('../fonts/klavikaboldcaps-sc-webfont.svg#klavika_bold_capsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'klavika_boldbold';
    src: url('../fonts/klavikaboldbold-webfont.eot');
    src: url('../fonts/klavikaboldbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavikaboldbold-webfont.woff') format('woff'),
         url('../fonts/klavikaboldbold-webfont.ttf') format('truetype'),
         url('../fonts/klavikaboldbold-webfont.svg#klavika_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'klavika_lightlight';
    src: url('../fonts/klavikalight-osf-webfont.eot');
    src: url('../fonts/klavikalight-osf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/klavikalight-osf-webfont.woff') format('woff'),
         url('../fonts/klavikalight-osf-webfont.ttf') format('truetype'),
         url('../fonts/klavikalight-osf-webfont.svg#klavika_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'abadi';
    src: url('../fonts/abadi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}